# Temporary Python files
*.pyc
*.egg-info
__pycache__
.ipynb_checkpoints

# Temporary OS files
Icon*

# Temporary virtualenv files
.cache
env
.idea*

# Testing and coverage results
.coverage
pyunit.xml

# Build and release directories
build
dist

# Sublime Text
*.sublime-workspace

# Eclipse
.settings

# docs
docs/_build/*

test_project/db.sqlite3
